bower_components
node_modules

# Cordova
cordova/platforms/android/
cordova/platforms/browser/
cordova/resources/signing
cordova/plugins/cordova-plugin-calendar/
cordova/plugins/cordova-plugin-compat/
cordova/plugins/cordova-plugin-whitelist/
cordova/plugins/cordova-plugin-x-socialsharing/
cordova/plugins/es6-promise-plugin/

#React
react/android/
react/ios/
